footer
  .container.text-center
    p.float-left &copy; 2019 Thasi Mhlongo
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/AfricanBruceWayne/work_portfolio' target=_blank) This github project
      li.list-inline-item
        a(href='https://github.com/AfricanBruceWayne' target=_blank) My Github profile
